<%= form_for @slider, :html => { :class => "form-horizontal slider" } do |f| %>

<% if @slider.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @slider.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <%= f.text_area :meta_description, :class => 'form-control', rows: '4' %>
          <%=f.error_span(:meta_description) %>
        </div>
        <div class="form-group">
          <%= f.label :slider_type, :class => 'control-label' %>
          <%= f.select :slider_type, Slider::Type.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
          <%=f.error_span(:slider_type) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
      <%= f.label :cover, :class => 'control-label' %>
      <% if @slider.cover.nil? || @slider.cover.blank? %>
      <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260' %>
      <% else %>
      <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260', 'data-default-file' => @slider.cover.url %>
      <% end %>
      <%=f.error_span(:cover) %>
    </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Image Slider</h4>
    <div class="row" id="image_sliders">
      <%= f.fields_for :image_sliders do |image_slider| %>

         <%= render 'image_slider_fields', f: image_slider %>

      <% end %>
      <div class="col-md-4">
         <%= link_to_add_association 'add image', f, :image_sliders, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group text-center mb-0">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      sliders_path, :class => 'btn btn-default' %>
    </div>
  </div>

</div>

<% end %>
