/* helper */
body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.7;
  word-spacing: 2px;
}
a {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #000;
  text-decoration: none;
  /* border-bottom: 3px solid #3e9935; */
}

.home section a{
  border-bottom: 3px solid #3e9935;
}

.home a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid #3e9935;
}

.text-green{
  color: #3e9935;
}

section{
  margin: 80px 0;
}
/* .navbar a:hover{
  text-decoration: none !important;
  border-bottom: 0;
} */

.navbar-brand img{
  height:130px;
  width: auto;
}

.navbar-brand img.logo-green{
  display: none
}
.navbar {
  background: none !important;
}
.scrolled{
  background: white !important;
}

.scrolled .navbar-brand img{
  height: 40px;
}

.scrolled .navbar-brand img.logo-white{
  display: none;
}

.scrolled .navbar-brand img.logo-green{
  display: block;
}

.navbar-brand-bottom span{
  font-weight: 900;
  color: white;
    display: none;
  font-size:20px;
  transition: all 0.15s ease-out;
  margin-left: 10px;
}

.navbar-brand-bottom img{
  height: 70px;
}

.navbar span{
  font-weight: 900;
  color: white;
    display: none;
  font-size:45px;
  transition: all 0.15s ease-out;
  margin-left: 10px;
}

.scrolled  span{
  font-size:35px;
  display: block;
  transition: all 0.15s ease-out;
  color: #3e9935;
}

.scrolled .navbar-brand img {
  height:45px;
  width: auto;
}

.active .nav-link, .nav-link:hover{
  border-bottom: 2px solid white;
}

.nav-link{
  font-weight: 900;
}

.scrolled .nav-link{
  font-weight: 900;
  color: #3e9935 !important;
}

.scrolled  .active .nav-link,.scrolled  .nav-link:hover{
  border-bottom: 2px solid #3e9935;
}

h1{
  font-family: 'Roboto Slab', serif;
    text-transform: none;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

h2, h3 {
  color: #3e9935;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

.intro{
  height: 100vh;
  width: 100%;
  background-size:cover;
  background-position:center center;
  margin: 0;
}

.intro h1{
  font-size: 55px;
}
.green-layer{
  background-color: rgba(44, 97, 39, 0.7);
  height: 100%;
  width: 100%;
}

.bottom-nav hr{
  border-color: white
}

.intro .bottom-nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-nav h3{
  color: white;
  font-size: 13px;
}

.bottom-nav span{
  color: white;
  font-size: 13px;
  line-height: 1;
}

.hvr-border-fade {
  box-shadow: none;
}
.hvr-border-fade:active, .hvr-border-fade:focus, .hvr-border-fade:hover {
    box-shadow: inset 0 0 0 4px #3e9935, 0 0 1px rgba(0,0,0,0);
}

.section-item{
  min-height: 100vh;
}

.vh50{
    height: 50vh;
}

.row-3-list{
  column-count: 3;
  column-gap: 15%;
  padding: 0;
  list-style: none;
}

.article h1{
  font-size: 40px;
}

.article u {
  text-decoration: none;
}


u, u a,  a u{
  text-decoration: none;
  border-bottom: 2px solid #3e9935;
}

.bg-gray{
  background-color: #e2e2e2;
}

.listed li{
  border-bottom: 2px solid  #3e9935;
  margin-bottom: 10px;
  padding: 3px;
}

.listed a{
  font-size: 12px;
}

.listed a:hover{
  color:#3e9935;
}

.bg-white{
  background-color: white;
}

.enews{
  background-color:#45a745;
  border:0;
  border-bottom:2px solid white;
  text-align:center;
  padding-left:0;
  font-size:16px;
  color:white !important
}

.enews::placeholder{
  color: white;
  opacity: 1;
}

.title{
  font-weight: 900;
}

.pb-20vh{
  padding-bottom: 10vh;
}


.nav-footer a{
  border-bottom: 0 !important;
  font-size: 12px;
  color: white;
}

.nav-footer-sosmed a{
  border-bottom: 0 !important;
  font-size: 35px;
  color: white;
}

.shadow-hover{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  transition: box-shadow 500ms;
    border-radius: 1rem!important;
}

.shadow-hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 1rem!important;
}
.rounded{
      border-radius: 1rem!important;
}
.rounded-top{
  border-top-left-radius: 1rem!important;
  border-top-right-radius: 1rem!important;
}

.event-detail .fa{
  color:#3e9935;
  font-size: 1.6rem
}

.event-detail h3{
  font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;
    word-spacing: 2px;
    color:#212529;
}
