@media (max-width: 575.98px) {
  .intro h1 {
    font-size: 35px;
  }

  .intro h2 {
    font-size: 15px;
  }

  .navbar-collapse.show{
    background: white;
  }

  .navbar-collapse.show .nav-link{
    background: white;
    color: #3e9935 !important;
    padding: 5px;
  }
  .navbar-collapse.show .active .nav-link{
    border-bottom: 2px solid #3e9935;
  }

  .scrolled span {
    font-size: 15px;
  }

  .scrolled  .navbar-toggler {
    color: #3e9935;
    border-color: #3e9935;
  }
  #qoute h3{
    font-size: 20px;
  }
  .h2, h2 {
    font-size: 1.7rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
