<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

  <% if @article.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, :class => 'control-label' %>
            <%= f.text_field :title, :class => 'form-control' %>
            <%=f.error_span(:title) %>
          </div>
          <% if @article.new_record? %>

          <div class="form-group">
            <%= f.label :meta_description, :class => 'control-label' %>
            <%= f.text_area :meta_description, maxlength:"230", rows:8, :class => 'form-control' %>
            <%=f.error_span(:meta_description) %>
          </div>
          <% else %>
          <div class="form-group">
            <%= f.label :meta_description, maxlength:"230", :class => 'control-label' %>
            <%= f.text_area :meta_description, maxlength:"230", rows:4, :class => 'form-control' %>
            <%=f.error_span(:meta_description) %>
          </div>
          <div class="form-group">
            <%= f.label :slug, :class => 'control-label' %>
            <%= f.text_field :slug, :class => 'form-control' %>
            <%=f.error_span(:slug) %>
          </div>

          <% end %>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <%= f.label :image, :class => 'control-label' %>
          <% if @article.image.nil? || @article.image.blank? %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260' %>
          <% else %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260', 'data-default-file' => @article.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :publish, :class => 'control-label' %>
            <% if @article.new_record? %>
              <%= f.datetime_field :publish, :class => 'form-control' %>
                <% else %>
              <%= f.datetime_field :publish, :class => 'form-control' %>
            <% end %>
            <%=f.error_span(:publish) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :status, :class => 'control-label' %>
            <%= f.select :status, Article::Status.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
            <%=f.error_span(:status) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :category_id, :class => 'control-label' %>
            <%= f.select :category_id, Category.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
            <%=f.error_span(:category_id) %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :slider_id,"Add Slider", :class => 'control-label' %>
            <%= f.select :slider_id, Slider.article.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
            <%=f.error_span(:slider_id) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.label :content, :class => 'control-label' %>
        <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
        <%=f.error_span(:content) %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="form-group text-center mb-0">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          articles_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>



  <% end %>
