<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8 article">
        <p class="text-green"><%= @article.category.title %>  </p>
        <h1><%= @article.title %></h1>
        <div class="date text-green my-3 d-flex justify-content-between">
          <p><i><%= @article.publish.strftime("%e %B %Y") rescue "-" %></i></p>
        </div>
        <% if @article.slider != nil %>
        <div class="mb-3">
          <div class="row m-0">
          <% @article.slider.image_sliders.each do |x| %>
          <div class="col-md-4 p-1 mb-1">
            <a href="<%= x.image %>" class="d-block popupbanner" data-lightbox="zoom-banner">
              <img src="<%= x.image %>" alt="<%= @article.title %>" class="w-100" >
            </a>
          </div>
          <% end %>
          </div>
        </div>
        <% end %>
        <%= @article.content.html_safe %>
      </div>
      <div class="col-md-3 py-3 bg-gray show">
        <div class="mb-3">
          <p class="text-green" style="font-size: 25px;font-weight: 900;" >
            Latest News
          </p>
          <div class=" p-3 bg-white mb-3 shadow-sm">
            <ul class="list-unstyled listed">
              <% @latest.each do |x| %>
              <li>
                <a href="<%= article_path(x.slug) %>">
                  <%= x.title %>
                </a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="sticky-top" style="top:100px;  z-index:0">
          <div class="mb-3" >
            <p class="text-green" style="font-size: 25px;font-weight: 900;" >
              Upcoming Events
            </p>
            <div class=" p-3 bg-white mb-3 shadow-sm">
              <a href="#">
                <div class="d-block">
                  <p style="font-size:18px;font-weight:600;" class="mb-2">
                    MVB EXPO 2019
                  </p>
                  <p class="mb-0">
                    3 - 12 December 2019
                  </p>
                  <div class="d-block">
                    <i class="fa fa-map-marker mr-1 text-green" aria-hidden="true"></i> <span>Sultan Jakarta</span>
                  </div>
                </div>

              </a>

            </div>

          </div>

          <div class="bg-success p-3 mb-3 shadow-sm sticky-top" style="border-width:2px !important; top:100px;">
            <form id="ema_signup_form_1" target="_blank" action="https://madmimi.com/signups/subscribe/26e055805c584b5693c7788c648b7ba8" accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="✓">
              <p style="font-size: 25px;font-weight: 900; color:white;" >
                Get Closer To Us<span class="text-green">.</span>
              </p>
              <div class="">
                <div class="  input-group">
                  <input id="signup_email" name="signup[email]" class="mm-field required email mb-3 w-100 enews" type="text" data-required-field="This field is required" placeholder="your email" style="">
                  <button type="submit" name="button" class="btn btn-light w-100">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>

        </div>



      </div>
    </div>
  </div>
</section>
