<%= form_with(model: image_slider, local: true) do |form| %>
  <% if image_slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_slider.errors.count, "error") %> prohibited this image_slider from being saved:</h2>

      <ul>
      <% image_slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="field">
    <%= form.label :slider_id %>
    <%= form.text_field :slider_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
