<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_slider.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image_slider.caption %>
</p>

<p>
  <strong>Slider:</strong>
  <%= @image_slider.slider %>
</p>

<%= link_to 'Edit', edit_image_slider_path(@image_slider) %> |
<%= link_to 'Back', image_sliders_path %>
