<%= form_for @participant, :html => { :class => "form-horizontal participant" } do |f| %>

<% if @participant.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @participant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row align-items-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'form-control' %>
          <%=f.error_span(:name) %>
        </div>
        <div class="form-group">
          <%= f.label :building_name, :class => 'control-label' %>
          <%= f.text_field :building_name, :class => 'form-control' %>
          <%=f.error_span(:building_name) %>
        </div>
        <div class="form-group">
          <%= f.label :street_name, :class => 'control-label' %>
          <%= f.text_area :street_name, rows:6, :class => 'form-control' %>
          <%=f.error_span(:street_name) %>
        </div>
        <div class="form-group">
          <%= f.label :region, :class => 'control-label' %>
          <%= f.text_field :region, :class => 'form-control' %>
          <%=f.error_span(:region) %>
        </div>
        <div class="form-group">
          <%= f.label :city, :class => 'control-label' %>
          <%= f.text_field :city, :class => 'form-control' %>
          <%=f.error_span(:city) %>
        </div>
        <div class="form-group">
          <%= f.label :postal_code, :class => 'control-label' %>
          <%= f.text_field :postal_code, :class => 'form-control' %>
          <%=f.error_span(:postal_code) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :image, :class => 'control-label' %>
          <% if @participant.image.nil? || @participant.image.blank? %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '200' %>
          <% else %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '200', 'data-default-file' => @participant.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :logo, :class => 'control-label' %>
          <% if @participant.logo.nil? || @participant.logo.blank? %>
          <%= f.file_field :logo, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '200' %>
          <% else %>
          <%= f.file_field :logo, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '200', 'data-default-file' => @participant.logo.url %>
          <% end %>
          <%=f.error_span(:logo) %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :email, :class => 'control-label' %>
          <%= f.text_field :email, :class => 'form-control' %>
          <%=f.error_span(:email) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :website, :class => 'control-label' %>
          <%= f.text_field :website, :class => 'form-control' %>
          <%=f.error_span(:website) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :phone_number, :class => 'control-label' %>
          <%= f.text_field :phone_number, :class => 'form-control' %>
          <%=f.error_span(:phone_number) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :ig_account, :class => 'control-label' %>
          <%= f.text_field :ig_account, :class => 'form-control' %>
          <%=f.error_span(:ig_account) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :ig_link, :class => 'control-label' %>
          <%= f.text_field :ig_link, :class => 'form-control' %>
          <%=f.error_span(:ig_link) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :facebook_account, :class => 'control-label' %>
          <%= f.text_field :facebook_account, :class => 'form-control' %>
          <%=f.error_span(:facebook_account) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :facebook_link, :class => 'control-label' %>
          <%= f.text_field :facebook_link, :class => 'form-control' %>
          <%=f.error_span(:facebook_link) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= f.label :map, :class => 'control-label' %>
          <%= f.text_area :map, :class => 'form-control',rows: 3 %>
          <%=f.error_span(:map) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :lat, :class => 'control-label' %>
          <%= f.text_field :lat, :class => 'form-control' %>
          <%=f.error_span(:lat) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :long, :class => 'control-label' %>
          <%= f.text_field :long, :class => 'form-control' %>
          <%=f.error_span(:long) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" style="padding: 2rem !important;">
    <div class="form-group">
      <%= f.cktext_area :overview, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:overview) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <div class="text-center">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        participants_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<% end %>
