<section class="m-auto text-center qoute vh50" style="background:url('<%= asset_url('bg-flower2.jpg') %>') no-repeat fixed center / cover;">
  <div class="green-layer p-5">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="container text-left">
        <div class="w-75">
          <h1 class="text-light mb-0"><%= @event.title %></h1>
          <% if @event.start_date == @event.end_date %>
          <h3 id="date" class="text-light"><%= @event.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
          <% else %>
          <h3 id="date" class="text-light"><%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %></h3>
          <% end %>
          <div class="d-flex">
            <div class="mr-2">
              <i class="fa fa-map-marker text-light" aria-hidden="true"></i>
            </div>
            <div class="d-block">
              <span class="text-light"><%= @event.vanue %></span>
            </div>
          </div>
          <div class="mt-3">
            <a href="#" class="btn btn-light text-success">
              Register
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="<%= @event.image %>" alt="<%= @event.title %>" class="w-100">
      </div>
      <div class="col-md-6">
        <h4 style="font-weight:900;margin-bottom:0 !important;" >About</h4>
        <h2 class="mt-0"><%= @event.title %></h2>
        <hr>
        <%= @event.content.html_safe %>
      </div>
    </div>
  </div>

</section>
<section class="bg-white p-5 event-detail">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h4 style="font-weight:900;">Event Detail</h4>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-right">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="col">
            <% if @event.start_date == @event.end_date %>
            <h3 id="date" class="my-0"><%= @event.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
            <% else %>
            <h3 id="date" class="my-0"><%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %></h3>
            <% end %>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-right">
              <i class="fa fa-ticket" aria-hidden="true"></i>
          </div>
          <div class="col">
            <h3 id="price" class="my-0">Free</h3>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-right">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col">
            <h3 id="price" class="my-0"><%= @event.vanue %></h3>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-10">
            <a href="#" class="btn btn-outline-success">
              Add to Calendar
            </a>
            <a href="#" class="btn btn-success">
              Register
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= @event.map.html_safe %>
      </div>
    </div>
  </div>
</section>
