<section class="m-auto text-center qoute vh50" style="background:url('assets/bg-green.jpg') no-repeat fixed center / cover;">
  <div class="green-layer p-5">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="container">
        <h1 class="mb-5 text-light"> Contact Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-md-7">
        <div class="p-3">
          <h2 style="font-size:25px;font-weight:900;font-family:'Cormorant', serif">HEAD OFFICE</h2>
          <p>
            Jl. Benda Raya No. 98 A-B, Cilandak, Jakarta 12560 - Indonesia <br>
          </p>
          <div class="row">
            <div class="col-2">
              <b>Phone</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              +6221 781 3212
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <b>Fax</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              +6221 781 2476
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <b>Inquiry</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              <u><a href="mailto:marcom@phoenix.co.id">marcom@phoenix.co.id</u></a>
            </div>
          </div>
          <div class="mt-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.888645930026!2d106.8137108146384!3d-6.278367995455786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f18acf17d043%3A0xeebe5d7cc19439f4!2sPT.%20Phoenix%20Communications!5e0!3m2!1sen!2sid!4v1571027739918!5m2!1sen!2sid" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <p class="text-green">
          If you need more information or you wish to join the SAY YES TO LESS program, please send your request by filling the form below :
        </p>

        <form class="new_contact" id="new_contact" action="/contacts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Xh9f01nqPfcLGUldWjYLn8xuuG9gigoEhsiPop/j8beZdSfrlHp15OmPP9nfpnh3Mfuu0Od6fJoRf/8na3SHjA==">
          <p>
            <span style="color:red;">*</span> Input Required
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="fullname">Full Name <span style="color:red;">*</span></label>
                <input class="form-control required" placeholder="Enter Full Name" type="text" name="contact[fullname]" id="contact_fullname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="email">Email <span style="color:red;">*</span></label>
                <input class="form-control required" placeholder="Enter Your E-Mail" type="email" name="contact[email]" id="contact_email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="subject">Subject <span style="color:red;">*</span></label>
                <input class="form-control required" type="text" name="contact[email]" id="contact_email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="">Message/Question <span style="color:red;">*</span></label>
                <textarea class="form-control required" rows="5" name="contact[message]" id="contact_message" required=""></textarea>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <script async="" src="https://www.recaptcha.net/recaptcha/api.js" defer="" type="text/javascript"></script>
            <div data-sitekey="6LfZSAwUAAAAAOZsz7_XH2Pq1oU5d1PgDJt2rklP" class="g-recaptcha "><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfZSAwUAAAAAOZsz7_XH2Pq1oU5d1PgDJt2rklP&amp;co=aHR0cHM6Ly9ub3dqYWthcnRhLmNvLmlkOjQ0Mw..&amp;hl=en&amp;v=xw1jR43fRSpRG88iDviKn3qM&amp;size=normal&amp;cb=21wwlkoheaem" width="304" height="78" role="presentation" name="a-b9fa0m7rpur9" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
            <noscript>
              <div>
                <div style="width: 302px; height: 422px; position: relative;">
                  <div style="width: 302px; height: 422px; position: absolute;">
                    <iframe
                    src="https://www.recaptcha.net/recaptcha/api/fallback?k=6LfZSAwUAAAAAOZsz7_XH2Pq1oU5d1PgDJt2rklP"
                    name="ReCAPTCHA"
                    style="width: 302px; height: 422px; border-style: none; border: 0; overflow: hidden;">
                  </iframe>
                </div>
              </div>
              <div style="width: 300px; height: 60px; border-style: none;
              bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
              background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
              <textarea id="g-recaptcha-response" name="g-recaptcha-response"
              class="g-recaptcha-response"
              style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
              margin: 10px 25px; padding: 0px; resize: none;">
            </textarea>
          </div>
        </div>
      </noscript>
      <div class="mt-3">
        <input type="submit" value="Submit" class="btn btn-success d-block">

      </div>
    </form>
  </div>
</div>
</div>
</section>
