<section class="">
  <div class="container">
    <div class="text-center">
      <h2 style="font-weight:900;">EVENTS</h2>
      <div class="w-75 m-auto">
        <p>
          Say Yes To Less is not just about building awareness and action from the industry but also inviting the community and public to get involved together.
          Through the Say Yes To Less events and activities, raising awareness about the importance of reducing your waste and using eco-friendly appliances will be a small-fresh start on the beginning of a sustainable lifestyle.
        </p>
      </div>
    </div>
  </div>
</section>

<section class=" py-3">
  <div class="container ">
    <div class="row ">
      <% Event.order("start_date ASC").all.each do |x| %>
      <div class="col-md-6 my-3">
        <a href="<%= event_path(x.slug) %>" class="d-block shadow-hover">
          <div class="card border-0 rounded">
            <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100 rounded-top">
            <div class="card-body">
              <% if x.start_date == x.end_date %>
              <p id="date" class="my-0"><i><%= x.start_date.strftime(" %e %B %Y") rescue "-" %></i></p>
              <% else %>
              <p id="date" class="my-0"><i><%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %></i></p>
              <% end %>
              <h2 class="title mt-0 sm-hgt"><%= x.title %></h2>
              <p><i class="fa fa-map-marker text-green mr-2" aria-hidden="true"></i> <%= x.vanue %></p>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</section>
