<section>
  <div class="container">
    <h1>GET INVOLVED</h1>
    <p>There are so many different ways in which you can get involved with SAY YES TO LESS program and make a positive difference to your environment. Check out the options below!</p>
  </div>
</section>
<section>
  <section>
    <div class="w-75 m-auto">
      <div class="d-block mt-3">
        <div class="row">
          <div class="col-md-4">
            <div class="card rounded shadow">
              <img src="<%= asset_url('Get Active with SYTL.jpg') %>" alt=""class="w-100 rounded-top">
              <div class="card-body ">
                <h2 style="font-weight:900;font-size:20px;">Become SYTL Member or Partner</h2>
                <p>Find out more about our current program and how you can help us work to reduce waste in Greater Jakarta and West Java.</p>
                <a href="#" class="btn btn-success w-100">
                  Discover
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= asset_url('Get Active with SYTL.jpg') %>" alt=""class="w-100 rounded-top">
              <div class="card-body rounded shadow">
                <h2 style="font-weight:900;font-size:20px;">Get Active with SYTL</h2>
                <p>Get We have opportunities for volunteers to actively contribute to the SYTL program.</p>
                <a href="#" class="btn btn-success w-100">
                  Discover
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= asset_url('Get Active with SYTL.jpg') %>" alt=""class="w-100 rounded-top">
              <div class="card-body">
                <h2 style="font-weight:900;font-size:20px;">Support SYTL Campaign</h2>
                <p>There are many different ways for you to support our projects and campaigns.</p>
                <a href="#" class="btn btn-success w-100">
                  Discover
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
