<section class="intro position-relative" style="background-image:url('<%= asset_url('bg-green.jpg') %>')">
  <div class="green-layer">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="text-center">
        <h1 class="text-light">SAY YES TO LESS</h1>
        <h2 class="text-light">ECO STAY | ECO DINE | ECO LIVE</h2>
      </div>
    </div>
  </div>
  <div class="bottom-nav d-none d-md-block">
    <div class="container">
      <hr>
      <div class="row justify-content-center">
        <div class="col">
          <a href="#background">
            <div class="d-block">
              <div class="d-flex">
                <h3 class="mt-0 mb-0 ml-2">
                  BACKGROUND
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="#what">
            <div class="d-block">
              <div class="d-flex">
                <h3 class="mt-0 mb-0 ml-2">
                  WHAT IS SAY YES TO LESS ?
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="#why">
            <div class="d-block">
              <div class="d-flex">
                <h3 class="mt-0 mb-0 ml-2">
                  WHY SAY YES TO LESS ?
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="#program">
            <div class="d-block">
              <div class="d-flex">
                <h3 class="mt-0 mb-0 ml-2">
                  SAY YES TO LESS PROGRAM
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="#participants">
            <div class="d-block">
              <div class="d-flex">
                <h3 class="mt-0 mb-0 ml-2">
                  SAY YES TO  LESS PARTICIPANTS
                </h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-0" id="background">
  <div class="row m-0 justify-content-center align-items-center">
    <div class="col-md-5 p-0 wow fadeInDown">
      <div class="p-0 m-3 p-md-5 m-md-5">
        <img src="<%= asset_url('background.jpg') %>" alt="SAY YES TO LESS ?" class=" w-100 rounded">
      </div>
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-offset="10">
      <div class="p-3 m-0  my-md-5">
        <h2 style="font-weight:900;">BACKGROUND.</h2>
        <p>With increasing concern of the world for climate change, food waste has come increasingly under attention in recent years and for good reason:</p>
        <ul>
          <li><a class="green-underline" href="http://www.greenhotelier.org/know-how-guides/reducing-and-managing-food-waste-in-hotels/" target="_blank">Food waste is the third biggest contributor to climate change (Green Hotelier [ITP], 2014)</a></li>
          <li><a class="green-underline" href="http://www.greenhotelier.org/know-how-guides/reducing-and-managing-food-waste-in-hotels/" target="_blank">One-third of all foods produced in the world is wasted (Green Hotelier [ITP], 2014)</a> </li>
          <li><a class="green-underline" href="https://www.modul.ac.at/uploads/files/user_upload/Futouris_Sustainable_Food_Manual.pdf" target="_blank">Additional pressures arise from GHG emissions caused by food production and transportation (Futouris e.V., n.d.)</a></li>
        </ul>
        <p>
          This problem is especially visible in the hospitality industry as billions of meals are served per year to tourists in restaurants and hotels. <br>
          According to WRAP (the Waste and Resources Action Programme), the food sector produces 400,000 tonnes of avoidable food waste each year.<br>
          If your restaurant can learn to reduce food waste, not only will you help the environment, but you’ll also save your business money in the long run.<br>
          <small>*source dr PATA</small>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="qoute"  class="m-auto text-center qoute vh50" style="background:url('<%= asset_url('bg-green.jpg') %>') no-repeat fixed center / cover;">
  <div class="green-layer p-5">
    <div class="d-flex justify-content-center align-items-center h-100 wow fadeIn" data-wow-offset="90">
      <div class="container">
        <h3 class="text-light">
          " The main activities in this initiative include the raising awareness of reducing waste and the creation of a dedicated program for the Food and Beverange industry and other hospitality to drive positive change and ultimately reduce their waste and food waste to landfill. "
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="m-0" id="what">
  <div class="row m-0 align-items-center justify-content-center">
    <div class="col-md-5 order-2 order-md-2 wow fadeInLeft">
      <div class="p-0 p-md-5 m-0 my-md-5">
        <h2 style="font-weight:900;">WHAT IS SAY YES TO LESS ?</h2>
        <p>
          <strong>
            <span style="color:#8cc81b">SAY YES TO LESS </span>
          </strong>
          is a program for restaurants, bars and cafes who are willing to commit to reduce their impact on the environment by segregating and reducing their waste and using eco-friendly appliances.
        </p>
      </div>
    </div>
    <div class="col-md-6 order-1 order-md-2 wow fadeInRight">
      <div class="p-0 pt-3 p-md-5 m-md-5">
        <img src="<%= asset_url('main-1.jpg') %>" alt="WHAT IS SAY YES TO LESS ?" class=" w-100 rounded">
      </div>
    </div>
  </div>
</section>

<section class="m-0" id="why">
  <div class="row m-0 align-items-center justify-content-center">
    <div class="col-md-6 order-1 order-md-2 wow fadeInLeft">
      <div class="p-0 p-md-5 m-md-5">
        <img src="<%= asset_url('main-2.jpg') %>" alt="WHAT IS SAY YES TO LESS ?" class=" w-100 rounded">
      </div>
    </div>
    <div class="col-md-5 order-1 order-md-2 wow fadeInRight ">
      <div class="p-0 p-md-5 m-0 my-md-5">
        <h2 style="font-weight:900;">WHY SAY YES TO LESS ?</h2>
        <p  style="">
          <strong style="color:#8cc81b">SAY YES TO LESS</strong> is about bringing together a coalition of NOW! Jakarta, industry partners and waste management experts to create and implement a campaign that challenges the industry, particularly the hospitality sector, to reduce food waste to landfill.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="program">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <h2 style="font-weight:900;">SAY YES TO LESS PROGRAM INCLUDES :</h2>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="1s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>To get Say Yes To Less waste management survey form and analysis on your waste production by the experts.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="2s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold" style=""> <strong>To be invited to Say Yes To Less waste management workshop.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="3s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>Access to waste management experts who offer solution to your waste challenge.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="4s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>To be included as Say Yes To Less venue participant in the Say Yes To Less website.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="5s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>SAY YES TO LESS sticker to show your commitment to reduce waste, support the government program and contribute to a better environment.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="6s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>To be able to use the Say Yes To Less logo in your collaterals.</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 wow fadeIn" data-wow-duration="7s">
        <div>
          <div class="d-flex hvr-border-fade p-3 point">
            <div class="d-block pr-2">
              <i class="fa fa-check" style="color:#3e9935;" aria-hidden="true"></i>
            </div>
            <p class="m-0 bold"> <strong>If you proven to use the Say Yes To Less logo and actively promotes and campaigning about Say Yes To Less initiative, we can include your venue in the Say Yes To Less promotion campaign.</strong> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="participants">
  <div class="container">
    <div class="text-center mb-4 wow fadeIn" data-wow-duration="1s">
      <h2 style="font-weight:900;">SAY YES TO LESS RESTAURANTS PARTICIPANTS :</h2>
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Stand Alone Restaurants</strong></p>
    </div>
    <ul class="row-3-list wow fadeIn" data-wow-duration="2s">
      <% Participant.standalone.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="text-center wow fadeIn" data-wow-duration="3s">
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Hotel Restaurants</strong></p>
    </div>
    <ul class="row-3-list wow fadeIn" data-wow-duration="3s">
      <% Participant.hotel_restaurant.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="text-center wow fadeIn" data-wow-duration="4s">
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Hotel Participants</strong></p>
    </div>
    <ul class="row-3-list wow fadeIn" data-wow-duration="4s">
      <% Participant.hotel.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

  </div>
</section>
