<section>
  <div class="container">
    <div class="my-3">
      <h1>NEWS</h1>
    </div>
    <div class="row justify-content-center">
      <% @news.each_with_index do |x, i| %>
      <% if i == 0 %>
      <div class="col-md-12">
        <div class="p-4 bg-success">
          <div class="p-3 bg-white shadow">
            <div class="row align-items-center">
              <div class="col-md-5">
                <h2 class="title"><%= x.title %></h2>
                <p><%= x.meta_description %></p>
                <a href="<%= article_path(x.slug) %>" class="btn btn-success">
                  Readmore
                </a>
              </div>
              <div class="col-md-7">
                <a href="<%= article_path(x.slug) %>">
                  <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div class="col-md-12">
        <div class="p-3 mt-3" style="border-bottom:1px solid #3e9935">
          <div class="row align-items-center">
            <div class="col-md-5">
              <h2 class="title text-dark"><%= x.title %></h2>
              <p><%= x.meta_description %></p>
              <a href="<%= article_path(x.slug) %>" class="btn btn-success">
                Readmore
              </a>
            </div>
            <div class="col-md-7">
              <a href="<%= article_path(x.slug) %>">
              <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100">
              </a>
            </div>
          </div>
        </div>

      </div>
      <% end %>

      <% end %>
    </div>

  </div>
</section>
