<section id="participants">
  <div class="container">
    <div class="text-center mb-4">
      <h2 style="font-weight:900;">SAY YES TO LESS RESTAURANTS PARTICIPANTS :</h2>
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Stand Alone Restaurants</strong></p>
    </div>
    <ul class="row-3-list">
      <% Participant.standalone.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="text-center">
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Hotel Restaurants</strong></p>
    </div>
    <ul class="row-3-list">
      <% Participant.hotel_restaurant.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="text-center">
      <p style="color:#8cc81b;font-size:16px;margin:10px;" ><strong>Hotel Participants</strong></p>
    </div>
    <ul class="row-3-list">
      <% Participant.hotel.each do |x| %>
      <li>
        <div class="d-flex">
          <div class="d-block pr-2">
            <i class="fa fa-dot-circle-o" style="color:#3e9935;" aria-hidden="true"></i>
          </div>
          <div class="d-block">
            <h4 style="font-weight:300;font-size:16px;line-height: 1.7;"><%= x.name %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</section>
