<%- model_class = Page -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @page.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @page.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @page.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seo_title) %>:</strong></dt>
  <dd><%= @page.seo_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meta_description) %>:</strong></dt>
  <dd><%= @page.meta_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:focus_keyword) %>:</strong></dt>
  <dd><%= @page.focus_keyword %></dd>
</dl>
