<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Dashboard</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1>App#index</h1>
          <p>Find me in app/views/app/index.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</div>
