<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta name="google-site-verification" content="nsV6jhgdfP5ZuMX4-u_TUatvp1mRZjAUmQvNbzUSgyk" />
  <meta name="alexaVerifyID" content="kav852cl8Xz44Ay4acnDbfimr2w"/>

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_url('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_url('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url('favicon-16x16.png') %>">
  <link rel="manifest" href="<%= asset_url('manifest.json') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab&display=swap" rel="stylesheet">
  <!-- css libary -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha256-c+C87jupO1otD1I5uyxV68WmSLCqtIoNlcHLXtzLCT0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" integrity="sha256-tBxlolRHP9uMsEFKVk+hk//ekOlXOixLKvye5W2WR5c=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
  <!-- main css  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


</head>

<body class="position-relative <% if @home.present?%> home <% end %>" style="background:#f5f5f5 ;">
  <% if @home.present?%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top" id="home-nave">
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top shadow-sm scrolled">
      <% end %>
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>">
          <img src="<%= asset_url('SYTL_LOGO-white.png') %>" alt="say yess to less" class="logo-white" >
          <img src="<%= asset_url('SYTL_LOGO.png') %>" alt="say yess to less" class="logo-green" >
          <span class="float-left">SAY YES TO LESS</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= nav_link 'HOME', root_path %>
            <%= nav_link 'PARTICIPANTS', all_participants_path %>
            <%= nav_link 'NEWS', all_news_path %>
            <%= nav_link 'EVENTS', list_event_path %>
            <%= nav_link 'CONTACT', create_contact_path %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <section class="mb-0">
      <div class="d-block pb-20vh">
        <div class="container">
          <div class=" p-5 rounded shadow-lg rounded border-0 mb-5" style="background-color:white;">
            <div class="row justify-content-center align-items-center">
              <div class="col-12 text-center mb-3 wow fadeIn">
                <h3>In Collaboration With:</h3>
              </div>
              <div class="col wow fadeIn" >
                <img src="<%= asset_url('Waste_4_change_logo_.png') %>" alt="waste 4 changer" class="mw-100">
              </div>
              <div class="col wow fadeIn" data-wow-delay="1s">
                <img src="<%= asset_url('Y_Waste_logo_.png') %>" alt="y waste" class="mw-100 m-auto d-block" style="width:100px">
              </div>
              <div class="col wow fadeIn" data-wow-delay="2s">
                <img src="<%= asset_url('Evoware.jpg') %>" alt="avani" class="mw-100 m-auto d-block" style="width:120px">
              </div>
              <div class="col wow fadeIn" data-wow-delay="3s">
                <img src="<%= asset_url('KANGPISMAN.png') %>" alt="KANGPISMAN" class="mw-100 m-auto d-block">
              </div>
              <div class="col wow fadeIn" data-wow-delay="2s">
                <img src="<%= asset_url('LOGO H3B-1.png') %>" alt="Himpunan Humas Hotel Bandung" class="mw-100 m-auto d-block">
              </div>
              <div class="col wow fadeIn" data-wow-delay="1s">
                <img src="<%= asset_url('DLH DKI.png') %>" alt="avani" class="mw-100 m-auto d-block">
              </div>
              <div class="col wow fadeIn">
                <img src="<%= asset_url('dlhk.png') %>" alt="Dinas Lingkungan Hidup Kota Bandung" class="mw-100 m-auto d-block">
              </div>
            </div>
          </div>
          <div class="d-block">
            <div class="w-100 mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-block">
                  <a class="navbar-brand-bottom d-flex align-items-center " href="<%= root_path %>" style="border:none;">
                    <img src="<%= asset_url('SYTL_LOGO-white.png') %>" alt="say yess to less" class="logo-white mw-100" >
                  </a>
                </div>
                <div class="d-block">
                  <ul class="nav nav-footer">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Get Involved</a>
                    </li>
                  </ul>
                </div>
                <div class="d-block">
                  <ul class="nav nav-footer-sosmed">
                    <li class="nav-item">
                      <a class="nav-link active" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-success position-absolute w-100" style="bottom:0; width:100vw;height:50vh;z-index:-1;">
      <div class="h-100 d-flex align-items-end">

        <div class="p-1 w-100 text-center" style="background-color:#215421;">
          <p class="text-white text-center  mb-0">
            Copyright Phoenix Digital Team @ 2019
          </p>
        </div>



      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js" integrity="sha256-399DNRyfIpWIy1ZV0KmEIIuIQ5sBHdLu9MBtVHrNtt8=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  </html>
